* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto Condensed', sans-serif;;
    --text-color: #fffdfd;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}

body {
    font-size: 1.6rem;
    background: black;
}

body * {
    font-family: var(--ff-primary);
    color: var(--text-color);
}

#app {
    padding: 2rem;
    max-width: 900px ;
    margin: 0 auto;
}
/*HEADER*/
header, .icon, .search {
    display: flex;
    margin-top: 2.0rem; 
}

header {  
    justify-content: space-between;
    align-items: center;
}

header .icon{
    align-items: center;
    gap: 1.0rem;
}

header .icon h1{
    font-weight: normal;
    font-size: 2.5rem;
}
header .icon img{
    width: 2rem;
    height: 2rem;
}

/*HEADER (input/button)*/
header .search {
    gap: .5rem;
}

.search input{
    height: 2.5rem;
    border-radius: .4rem;
    padding: 0 .5rem;
    width: 25.0rem;
    background:  rgb(2, 28, 32);
    border: none;
}

.search button {
    height: 2.5rem;
    border-radius: .4rem;
    padding: 0 .9rem;
    border: none;
    background-color: rgb(13, 86, 99);

    letter-spacing: .1rem;
    font-size: 1.2rem; 
}

/*TABLE*/
table{
    margin-top: 3.0rem;
    width: 100%;
    border-collapse: collapse;
  
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
    
    
}

table th {
    background: rgb(4, 50, 58);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;

}

table th:first-child {
    border-top-left-radius: .6rem;
}

table th:last-child {
    border-top-right-radius: .6rem;
}

table td {
    padding: 1.5rem;
    text-align: left;
}

table tr:nth-child(even){
    background: rgb(4, 50, 58, 0.6);
}

table tr:nth-child(odd) {
    background:  rgb(1, 13, 15); 
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.0rem;
}
td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;

    cursor: pointer;

    color: rgba(252, 11, 11, 0.486);
}

/*MOBILE*/

@media (max-width: 500px){

    header{
        flex-direction: column;
        align-items: center;

        margin: .1rem;
        
    }
 
   table{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin-top: 2rem;
    border-collapse: collapse;
    
    
   }

   table td:nth-child(3){
    padding: 0 60px 0 0;
   } 
  

   .user {
   /* display: flex;*/
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 60%;
    padding-bottom:30%;

    margin: 0;
    box-sizing: border-box;
   
    padding: 1.0rem;    
   }

   .search{
    margin-left: 2rem;
    margin-right: 2rem;
   }

    .search input{
        width: 20.0rem;
    }

    .table {
    width: 11.7rem;
    }

    table td {
    text-align: center;
    }

}




